APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

DISPUTEFOX_ENABLED=true
DISPUTEFOX_URL=https://pulse.disputeprocess.com/CustumFieldController
DISPUTEFOX_METHOD=addWebFormData
DISPUTEFOX_TAB_INFO_ID=
DISPUTEFOX_REDIRECT_URL=
DISPUTEFOX_COMPANY_ID=
DISPUTEFOX_CUST_TYPE=3
DISPUTEFOX_ADD_AFFILIATE_FLAG=0
DISPUTEFOX_ASSIGNEDTO_ID=-1
DISPUTEFOX_SALES_REPRESENTATIVE_ID=-1
DISPUTEFOX_WORKFLOW_STATUSID=-1
DISPUTEFOX_FOLDER_STATUSID=-1
DISPUTEFOX_CUSTOMER_STATUSID=-1
DISPUTEFOX_PORTAL_ACCESS=0
DISPUTEFOX_CUSTOMER_AGREEMENT_IDS=

# Authorize.Net
AUTHORIZE_NET_API_LOGIN_ID=
AUTHORIZE_NET_TRANSACTION_KEY=
AUTHORIZE_NET_SIGNATURE_KEY=
AUTHORIZE_NET_PUBLIC_CLIENT_KEY=
AUTHORIZE_NET_ENVIRONMENT=sandbox
AUTHORIZE_NET_WEBHOOK_ENFORCE_SIGNATURE=false

# File Download URL
DOWNLOAD_SECRET=
APP_DOWNLOAD_URL=

# Google Sheets
GOOGLE_SHEET_ID=
GOOGLE_READY_SHEET_ID=
GOOGLE_CREDENTIALS_PATH=storage/app/google-credentials.json

# Go High Level webhooks
GHL_FUNDING_WEBHOOK_URL=
GHL_CHECKOUT_WEBHOOK_URL=
GHL_REFERRAL_WEBHOOK_URL=
GHL_LEAD_URL=
GHL_ROADMAP_WEBHOOK_URL=
GHL_RECURRING_FAILED_WEBHOOK_URL=
GHL_SUBSCRIPTION_TERMINATED_WEBHOOK_URL=
GHL_SUBSCRIPTION_RECOVERED_WEBHOOK_URL=

RECAPTCHA_SECRET_KEY=

# Meta Conversions API
META_PIXEL_ID=
META_CAPI_TOKEN=
